@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
    font-family: sans-serif;
}

body {
    background-color: #f7f7f7ee;
    top: 0 !important;
}

/* Ocultar el texto de copyright y el banner */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}


/* Ocultar el texto "Translations by Google" */
.goog-logo-link {
  display: none !important;
}

/* Ocultar el texto "About Google Translate" */
.goog-te-gadget .goog-te-combo {
  margin: 0 !important;
}